pipeline/pl_ingest_ecdc_data.json
{
	"name": "pl_ingest_ecdc_data",
	"properties": {
		"activities": [
			{
				"name": "Lookup ecdc data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "new_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy ecdc",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup ecdc data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "new_json",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ecdc_raw_csv_dl",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@activity('Lookup ecdc data').output.value",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"sourceBaseURL": {
				"type": "String"
			},
			"sourceRealtiveURL": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Ingest"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-27T22:44:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}